/**圆形*/
.circular-square{
    border-radius:50%;
    width: 40%;
    height: auto;
}
/**
 * 背景色
 */
.background-white{
	background-color: white;
}
/**
 * 图片宽度占屏幕宽度的25%
 */
.img-width25{
	width: 25%;
	height: auto;
}
