/**
 * 共同的样式
 */

.common-background-bar {
	/*背景颜色*/
	background: #1277C7;
}

.common-color-white {
	/*颜色*/
	color: white;
}

.common-font-family-Regular{
	/*字体样式*/
	font-family:'微软雅黑 Regular', '微软雅黑';
}
.common-font-family-Bold{
	/*字体样式*/
	font-family:'微软雅黑 Bold', '微软雅黑';
}
/*字体font-size：62.5%*/
html{font-size: 62.5%;}
/**常规大小*/
body{font-size: 1.318rem; font-style: normal;}
/**最小字体*/
small{font-size:1.2rem}
/*1.9rem为标题 */
h4{font-size:1.9rem}
/*1.7rem为副标题 */
h5{font-size:1.7rem}
/*1.6为中间字体大小*/
h6{font-size:1.6rem}
/*分情况来做,不是所有页面都需要字体随着屏幕大小改变而改变的.*/
/*三星大屏幕机最低宽度:note2-note3,S2-S4*/
@media only screen and (min-width:360px) and (max-width:384px){
    html{font-size:64% !important;}
}
/*Iphone6,Iphone6plus*/
@media only screen and (min-width:385px) and (max-width:435px) {
    html{font-size:82.5% !important;}
}
/**更大设备*/
@media only screen and (min-width:436px)  {
    html{font-size:92% !important;}
}
/**更大设备*/
/*@media only screen and (min-width:757px) and (max-width:1000px) {
    html{font-size:100% !important;}
}*/




