.background-white{
	background-color: white;
	margin: 16px;
}
.padding-top{
	padding-top: 16px;
}
.padding-top-12{
	padding-top: 12px;
}
.padding-left{
	padding-left: 21px;
	color: #ACACB4;
}
.padding-right-12{
	padding-right: 12px;
}
.padding{
	padding-left: 12px;
	padding-right: 12px;
}
.char-darkgray{
	color: darkgray;
}
.cell-width-33{
	width: 32%;
	height: auto;
	padding-left: 13px;
	padding-right: 13px;
	
}
.cell-width-67{
	width: 66.66666666666667%;
	height: auto;
	padding-left: 12px;
	padding-right: 12px;
}
.align-right{
	text-align: right;
}
.more-words{
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	
}
.sifted-border-top{
	border-top-style: solid;
	border-top-width:thin;
	border-color: darkgray;
}

.sifted-border-left{
	border-left-style:solid;
	border-left-width:thin ;
	border-color: darkgray;
}
.align-center{
	text-align: center;
}

.img-size{
	width: 100%;
	height: auto;
	padding: 12px;
}
.img-size-half{
	width: 50%;
	height: auto;
	padding: 12px;
}
.mui-grid-view.mui-grid-9 {
	margin: 0;
	padding: 0;
	border-top: 0px solid #eee;
	border-left: 0px solid #eee;
	background-color: white
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	margin: 0;
	padding: 11px 15px;
	vertical-align: top;
	border-right: 0px solid #eee;
	border-bottom: 0px solid #eee
}
.recommend-border{
	border: solid;
	border-width: thin;
	border-color: darkgray;
}
.recommend-img{
	height: 50px;
	width: auto;
}




