.background-white{
	background-color: white;
	margin: 16px;
}
.padding-top{
	padding-top: 16px;
}
.padding-top-12{
	padding-top: 12px;
}
.padding-left{
	padding-left: 21px;
	color: #ACACB4;
}
.padding-right-12{
	padding-right: 12px;
}
.padding{
	padding-left: 12px;
	padding-right: 12px;
}
.char-darkgray{
	color: darkgray;
}
.cell-width-32{
	width: 32%;
	height: auto;
	padding-left: 12px;
	padding-right: 12px;
}
.cell-width-67{
	width: 66.6666667%;
}
.align-right{
	text-align: right;
}
.more-words{
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	
}
.sifted-border-top{
	border-top-style: solid;
	border-top-width:thin;
	border-color: darkgray;
}
.sifted-border-right{
	border-right-style: solid;
	border-right-width:thin ;
	border-color: darkgray;
}
.align-center{
	text-align: center;
}


